<div id="mailbox_list" >
<p><%= link_to "Compose", new_sent_path %> |
<%= link_to "Inbox", :controller => "mailbox", :action => "index" %> |
<%= link_to "Sent", :controller => "sent", :action => "index" %>
</p>
</div>
